{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}

<div class="container-fluid home-div">
    <div class="row home-row text-center">
        <div class="col-lg-6 col-md-12">
                {% comment %} {% element h1 %}
                    {% trans "Sign Up" %}
                {% endelement %} {% endcomment %}
                {% setvar link %}
                    <a href="{{ login_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}

                {% element p %}
                    {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
                {% endelement %}

                {% url 'account_signup' as action_url %}
                {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button tags="prominent,signup" type="submit" %}
                            {% trans "Sign Up" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
        </div>
    </div>
</div>

{% endblock content %}
