{% extends "base.html" %}

{% block content %}

{% load static %}


<header class="text-center py-4 animate__animated animate__fadeInDown">
    <h1><i>Upcoming Events</i></h1>
</header>
<div class="container my-4">
    <div class="row g-4">
        {% for event in event_list %}
        <div class="col-md-6 col-lg-4 animate__animated animate__fadeInDown animate__slower">
            <div class="card event">
                {% if "placeholder" in event.event_image.url %}
                <img class="card-img-top img-thumbnail" src="{% static 'images/default.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="card-img-top img-thumbnail" src=" {{ event.event_image.url }}"
                    alt="{{ event.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{event.title}}</h5>
                    <p class="card-text">{{event.excerpt}}</p>
                    <a href="{% url 'event_info' event.slug %}" class="btn view-info">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}