body {
    background-color: #CCE0C5;
    color: #3F4A3C;
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.home-div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-info {
    background-color: transparent;
    color: #3F4A3C;
    border-color: #3F4A3C;
}

/* ------------------------------NavBar----------------------------- */
#title-div {
    width: auto;
}

li {
    list-style: none;
}

#navbar-in-nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3F4A3C;
}

.user-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navbar-icons {
    font-size: 1.7rem;
    margin-right: 10px;
    color: #3F4A3C;
}

/* ------------------------------Products----------------------------- */
.card {
    background-color: #F8FFF8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 28px 36px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3F4A3C;
}

.btn:hover {
    background-color: #3F4A3C;
    color: #F8FFF8;
}

/* ------------------------------Events----------------------------- */
.event {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 450px;
}

.event img {
    width: 100%;
    height: auto;
}

.event .card-body {
    padding: 1.5rem;
}

.event .card-title {
    margin-top: 0;
}

.event .card-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #3F4A3C;
}

.event .date {
    color: #F8FFF8;
    font-size: 0.9rem;
}

/* ------------------------------Event_Info-------------------------- */
.article-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.hero-image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.article-content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.article-content p {
    margin-bottom: 20px;
    color: #3F4A3C;
}

.article-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

.blockquote {
    border-left: 4px solid #F8FFF8;
    padding-left: 20px;
    color: #666;
    margin: 20px 0;
    font-style: italic;
}

.comments-section {
    margin-top: 40px;
    padding: 20px;
    background: #F8FFF8;
}

.comment-form {
    margin-bottom: 20px;
}

.posted-comments {
    margin-top: 20px;
}

/* ------------------------------Footer----------------------------- */
footer {
    width: 100vw;
    border-top: 1px solid #3F4A3C;
    margin-top: 20px;
}