{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            {% if "placeholder" in our_story.profile_image.url %}
            <img class="card-img-top img-thumbnail" src="{% static 'images/default.jpg' %}"
                alt="placeholder image">
            {% else %}
            <img class="card-img-top img-thumbnail" src=" {{ our_story.profile_image.url }}"
                alt="{{ our_story.title }}">
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12">
            <article>{{our_story.content | safe}}</article>
        </div>
    </div>
</div>


{% endblock %}