{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid home-div">
    <div class="row text-center">
        <div class="col col-md-12">
            <h3 class="animate__animated animate__fadeInUp animate__slow"><i>Thanks for your payment</i></h3>
            <span>
            <a href="{% url 'products' %}" class="btn view-info m-4 animate__animated animate__fadeInUp animate__delay-2s">View more products</a>
            <a href="{% url 'events' %}" class="btn view-info m-4 animate__animated animate__fadeInUp animate__delay-2s">View our Events</a>
            </span>
        </div>
    </div>
</div>

{% endblock content %}