{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- Basket Overview Section -->
<h1>Your Basket</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="container mt-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>${{ item.amount }}</td>
                            <td><button type="submit" class="btn btn-danger btn-to-remove-item"
                                data-basket_id='{{item.id}}'>Remove</button></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="text-end"><strong>Total Amount</strong></td>
                            <td><strong>${{ total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <span><a href="#" class="btn btn-secondary">Continue Shopping</a></span>
                <span><a href="#" class="btn btn-success">Proceed to Checkout</a></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removalModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{item.product.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please confirm you want to remove the above item. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="#" class="btn btn-primary" id="removeConfirm">Remove</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block forJS %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}