{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- Basket Overview Section -->
<h2 class="text-center mt-5 mb-0 pb-0 py-4 animate__animated animate__fadeInDown animate__slow"><i>Your Basket</i></h2>

<div class="container-fluid">
    <div class="row mx-4 my-4">
        <div class="col col-md-12 animate__animated animate__fadeInUp animate__slow">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                            </svg> {{ item.amount }}
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                            </svg> {% widthratio item.quantity 1 item.amount %}
                        </td>
                        <td class="text-center">
                            <button type="submit" class="btn btn-danger btn-sm btn-to-remove-item fs-6"
                            data-basket_id='{{item.id}}' aria-label="Remove"><strong>-</strong></button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-end"><strong>Total Amount</strong></td>
                        <td>
                            <strong>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                    <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                </svg> {{ total }}
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div><a href="{% url 'products' %}" id="continue-shop" class="btn btn-secondary mb-3" aria-label="Continue Shoping">Continue Shopping</a></div>
            <div class=paypal-button-parent>
                <div id="paypal-button-container" data-total={{total}}></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to confirm removal of product-->
{% for item in items %}
<div class="modal fade" id="removalModal" tabindex="-1" aria-labelledby="removalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5">{{item.product_title}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please confirm you want to remove the above item. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <a href="#" class="btn btn-primary" id="removeConfirm" aria-label="Remove">Remove</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Paypal script -->
<script src="https://www.paypal.com/sdk/js?client-id=ARE4mKiDxcerMilheydmoZkgZahSKEgexC7SIoCLAT9N7RDfr58ucyT2N4GiSHqBoHrZ8RUFCbKb0OXo&currency=EUR"></script>

<script>
    paypal.Buttons({
        style: {
            layout: 'vertical',
            color:  'gold',
            shape:  'rect',
            label:  'paypal',
            borderRadius: 10,
            height: 40,
        },
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ total }}' // The total amount of the basket
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Redirect the user after successful payment
                window.location.href = "{% url 'after_payment' %}";
            });
        },
        onCancel: function (data) {
            // Handle payment cancellation
            alert('Payment was cancelled!');
        },
        onError: function (err) {
            // Handle errors during the payment process
            alert('An error occurred during the transaction.');
        }
    }).render('#paypal-button-container');
</script>



{% endblock content %}

{% block forJS %}
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}