{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="postion-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1>Welcome to <strong>Charity Treasures!</strong></h1>
                <h3>
                    Discover, Donate, and Delight in making a positive impact today!
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}