{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row" id="products-heading">
        <h1>Products</h1>
    </div>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for product in product_list %}
                <div class="card mx-auto p-2 my-4" style="width: 18rem;">
                    {% if "placeholder" in product.product_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ product.product_image.url }}"
                        alt="{{ product.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text"><i class="fa-solid fa-euro-sign"></i> {{product.price}}</p>
                        <a href="{% url 'view-product' product.slug %}" class="btn btn-primary view-info">View</a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}