{% extends "base.html" %}

{% block content %}

{% load static %}

<h1 class="text-center py-4 animate__animated animate__fadeInDown animate__slow">Products</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                {% for product in product_list %}
                <div class="card mx-auto p-2 my-4 animate__animated animate__fadeInDown animate__slow" style="width: 18rem;">
                    {% if "placeholder" in product.product_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ product.product_image.url }}"
                        alt="{{ product.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text"><i class="fa-solid fa-euro-sign"></i> {{product.price}}</p>
                        <span class="d-flex justify-content-between">
                        <a href="{% url 'view-product' product.slug %}" class="btn view-info">View</a>
                        {% if user.is_authenticated %}
                            <form action="{% url 'add_to_favorites' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn view-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </button>
                            </form>
                        {% else %}
                            <p><a href="{% url 'account_login' %}">Log in</a> to add to favorites.</p>
                        {% endif %}
                        </span>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}