{% extends "base.html" %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 my-5 px-4">
            {% if "placeholder" in product.product_image.url %}
            <img class="card-img-top img-thumbnail" src="{% static 'images/default.jpg' %}"
                alt="placeholder image">
            {% else %}
            <img class="card-img-top img-thumbnail" src=" {{ product.product_image.url }}"
                alt="{{ product.title }}">
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12 my-5 px-4">
        <p>{{product.description | safe}}</p>
        <p><i class="fa-solid fa-euro-sign"></i> {{ product.price }}</p>
        {% if user.is_authenticated %}
            <form id=basket_form method='post'>
                {{ basket_form | crispy }}
                {% csrf_token %}
                <input type="number" name="quantity" aria-invalid="true" id="id_quantity" value="1">
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </form>
            {% else %}
            <p>Please <a href="{% url 'account_login' %}">Login</a> to add items to your basket</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}