{% extends "base.html" %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="container text-center">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            {% if "placeholder" in product.product_image.url %}
            <img class="card-img-top img-thumbnail" src="{% static 'images/default.jpg' %}"
                alt="placeholder image">
            {% else %}
            <img class="card-img-top img-thumbnail" src=" {{ product.product_image.url }}"
                alt="{{ product.title }}">
            {% endif %}
        </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
        {{product.description | safe}}
        {% if user.is_authenticated %}
            <form id=basket_form method='post'>
                {{ basket_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </form>
            {% else %}
            <p>Please <a href="{% url 'account_login' %}">Login</a> to add items to your basket</p>
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}